@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь для відділення від решти сайту */
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__logo {
  font-size: 24px;
  font-weight: bold;
  color: #1b1a1a;
}

.header__logo-accent {
  color: #1b1a1a; /* Можна змінити на інший колір, якщо потрібно виділити */
}

.header__nav {
  flex-grow: 1;
  margin-right: 40px;
}

.header__menu {
  display: flex;
  justify-content: end;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  font-size: 16px;
}

.header__link {
  text-decoration: none;
  color: #1b1a1a;
  transition: color 0.3s;
}

.header__link:hover {
  color: #007bff; /* Колір при наведенні */
}

.header__action {
  margin-left: 20px;
}

.header__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1b1a1a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.header__button:hover {
  background-color: #444; /* Зміна кольору кнопки при наведенні */
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
.main .main_page_section {
  background-color: #ece7e4;
}

.main__container {
  position: relative;
}

.main_image_wrapper {
  position: relative;
  overflow: visible;
  top: 0px; /*Регулюйте значення за потреби */
  left: -50px; /* Регулюйте значення за потреби */
  width: 120%;
  height: auto;
  display: flex;
  padding: 20px;
}

.main__content {
  margin-right: 100px;
}
.main__content .main__title {
  color: #645c55;
  margin-top: 135px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main__content .main__subtitle {
  color: #1b1a1a;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 20px;
}
.main__content .main__description {
  color: #403e3b;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
.main__content .main__read-more {
  color: #1b1a1a;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.400000006px;
  text-transform: none;
}

.main__our-firm__all {
  margin-top: 100px;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.main__our-firm__title {
  color: #403e3b;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.main__our-firm__text {
  width: 100%;
  max-width: 493px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
  color: #403e3b;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}

.main__heading-hause {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__heading-hause__img {
  width: 1400px;
}

.main__howe-we-do__item {
  color: #645c55;
  font-size: 14px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 100px;
  text-align: center;
}
.main__howe-we-do__howe-we {
  color: #1b1a1a;
  font-size: 39px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 13px;
}
.main__howe-we-do__all-product {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}
.main__howe-we-do__product {
  width: 100%;
  max-width: 379px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
.main__howe-we-do__h3 {
  color: #403e3b;
  font-size: 17px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  padding-top: 15px;
}
.main__howe-we-do__p {
  color: #645c55;
  font-size: 16px;
  font-style: normal;
  margin-top: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.main__marble {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.main__marble__marble-img {
  width: 100px;
}

.main__hapy-kustomers {
  background-color: #403e3b;
  width: 1440px;
  height: 410px;
  margin: 0 auto;
}
.main__hapy-kustomers__title {
  color: #ece7e4;
  font-size: 14px;
  padding-top: 135px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main__hapy-kustomers__subtitle {
  color: #fff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 38px;
}
.main__hapy-kustomers__text {
  color: #ece7e4;
  font-size: 15px;
  margin-top: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  max-width: 500px;
}
.main__hapy-kustomers__products {
  display: flex;
  justify-content: space-around;
}
.main__hapy-kustomers__partner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: end;
  margin-top: 120px;
}
.main__hapy-kustomers__studio-haise {
  margin-top: 58px;
}

.main__swrling {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main__swrling__p {
  color: #403e3b;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  transform: translateY(-60%);
  transform: translateХ(-60%);
  padding-right: 800px;
  padding-bottom: 20px;
}
.main__swrling__h3 {
  color: #645c55;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  padding-right: 800px;
}

.main__featured__title {
  color: #1b1a1a;
  font-size: 39px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 42px;
  margin-top: 113px;
}
.main__featured__title-sub {
  color: #645c55;
  font-size: 24px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.main__featured__project-all {
  margin-top: 40px;
}
.main__featured__img1, .main__featured__img2, .main__featured__img3 {
  margin-right: 10px;
}
.main__featured__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.main__featured__my-button {
  padding: 10px 20px;
  background-color: #1b1a1a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.main__featured__my-button:hover {
  background-color: #444;
}
.main__featured__my-button:active {
  transform: scale(0.98);
}

.main__Meet-our-team__section-all {
  display: flex;
}
.main__Meet-our-team__title {
  color: #403e3b;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 38px;
}
.main__Meet-our-team__titleSub {
  color: #645c55;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  max-width: 400px;
}
.main__Meet-our-team__teem {
  color: #1b1a1a;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.400000006px;
  margin-top: 30px;
}