//Імпортую шрифти
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Імпортую палітру кольорів
@import "./blocks/layoult-palette";

// імпортую  обнуляйющий стиль
@import "./blocks/nullstyle";

// Іпортую  HEADER STYLE
@import "./blocks/header";

// Імпортую FOTTER
@import "./blocks/footer";

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;

  .main_page_section {
    background-color: $page_section_background;
  }
}

.main__container {
  position: relative;

  @media (max-width: 1500px) {
    margin: 0 20px;
  }
}

.main_image_wrapper {
  position: relative;
  overflow: visible;

  top: 0px; /*Регулюйте значення за потреби */
  left: -50px; /* Регулюйте значення за потреби */
  width: 120%;
  height: auto;
  display: flex;
  padding: 20px;

  @media (max-width: 1550px) {
    display: block;
  }
}

.main_img {
  @media (max-width: 1550px) {
    margin-top: 50px;
    max-width: 100%;
    height: auto;

    margin-right: 10px;
  }
}

.main__content {
  margin-right: 100px;
  .main__title {
    color: $main__title_color;
    margin-top: 135px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .main__subtitle {
    color: $main__subtitle_color;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 20px;

    @media (max-width: 1300px) {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      line-height: 60px;
      font-size: 44px;
    }
  }

  .main__description {
    color: $main__description_color;
    font-size: 16px;
    font-style: normal;

    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .main__read-more {
    color: $main__read-more_color;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-transform: none;
  }
}
.main__our-firm {
  &__all {
    margin-top: 100px;
    display: flex;
    align-items: start;
    justify-content: space-around;

    @media (max-width: 800px) {
      display: block;
    }
  }
  &__title {
    color: #403e3b;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  &__text {
    width: 100%;
    max-width: 493px;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;

    color: #403e3b;
    font-size: 16px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;

    @media (max-width: 800px) {
      margin-top: 20px;
      font-size: 14px;
    }
  }
}

.main__heading-hause {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 1400px;

    @media (max-width: 1500px) {
      max-width: 100%;
      height: auto;

      margin-right: 10px;
    }
  }
}

.main__howe-we-do {
  &__item {
    color: #645c55;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-top: 100px;
    text-align: center;
  }

  &__howe-we {
    color: #1b1a1a;
    font-size: 39px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;

    margin-top: 13px;

    @media (max-width: 700px) {
      font-size: 30px;
    }
  }

  &__all-product {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    text-align: center;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  &__product {
    width: 100%;
    max-width: 379px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

    @media (max-width: 1200px) {
      margin-top: 20px;
    }
  }

  &__h3 {
    color: #403e3b;
    font-size: 17px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 26px;
    text-transform: none;

    padding-top: 15px;
  }

  &__p {
    color: #645c55;
    font-size: 16px;
    font-style: normal;
    margin-top: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
  }
}

.main__marble {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 100px;

  &__marble-img {
    width: 100px;

    @media (max-width: 1500px) {
      max-width: 100%;
      height: auto;

      margin-right: 10px;
    }
  }
}

.main__hapy-kustomers {
  background-color: #403e3b;
  width: 1440px;
  height: 410px;

  margin: 0 auto;
  @media (max-width: 1500px) {
    max-width: 100%;
    height: auto;
    padding-bottom: 70px;
  }

  &__title {
    color: #ece7e4;
    font-size: 14px;
    padding-top: 135px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #fff;
    font-size: 32px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 38px;
  }

  &__text {
    color: #ece7e4;
    font-size: 15px;

    margin-top: 14px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;

    text-transform: none;
    max-width: 500px;
  }

  &__products {
    display: flex;
    justify-content: space-around;

    @media (max-width: 950px) {
      display: block;
    }
  }

  &__partner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    justify-content: end;

    margin-top: 120px;
  }
  &__studio-haise {
    margin-top: 58px;
  }
}

.main__swrling {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__p {
    color: #403e3b;
    font-size: 14px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;

    position: absolute;
    transform: translateY(-60%);
    transform: translateХ(-60%);
    padding-right: 800px;
    padding-bottom: 20px;

    @media (max-width: 1100px) {
      padding-right: 200px;
    }

    @media (max-width: 700px) {
      padding-right: 50px;
    }
  }

  &__h3 {
    color: #645c55;
    font-size: 16px;
    font-style: normal;

    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;

    position: absolute;

    padding-right: 800px;

    @media (max-width: 1100px) {
      padding-right: 200px;
    }

    @media (max-width: 700px) {
      padding-right: 50px;
    }
  }

  &__img {
    @media (max-width: 1500px) {
      max-width: 100%;
      height: auto;
      padding-bottom: 70px;
    }
  }
}

.main__featured {
  &__title {
    color: #1b1a1a;
    font-size: 39px;

    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 42px;

    margin-top: 113px;
  }

  &__title-sub {
    color: #645c55;
    font-size: 24px;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 30px;
  }

  &__project-all {
    margin-top: 40px;
  }

  &__img1,
  &__img2,
  &__img3 {
    margin-right: 10px;

    @media (max-width: 1500px) {
      max-width: 100%;
      height: auto;
      padding-bottom: 10px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  &__my-button {
    padding: 10px 20px;
    background-color: $backgroundColor;
    color: $color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: $hoverButtonHeader;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.main__Meet-our-team {
  &__section-all {
    display: flex;
    margin-top: 100px;
  }

  &__title {
    color: #403e3b;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 38px;
  }

  &__titleSub {
    color: #645c55;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    max-width: 400px;
  }

  &__teem {
    color: #1b1a1a;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;

    margin-top: 30px;

    display: grid;
    grid-template-columns: 150px 150px 150px;
  }

  &__item-all {
    margin-left: 70px;
  }

  &__img4 {
    margin-left: 50px;
  }
}

.main__touch {
  background-color: #cec4bc;

  &__p {
    color: #645c55;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding-top: 100px;
  }

  &__h3 {
    color: #1b1a1a;
    font-size: 40px;

    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 42px;

    width: 600px;
    padding-top: 30px;
    padding-bottom: 120px;
  }
}
