.footer {
  &__img {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 256px;

    padding-top: 60px;
  }

  &__together {
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px) {
      display: block;
    }
  }

  &__social {
    padding-top: 60px;
    padding-bottom: 50px;

    @media (max-width: 500px) {
      padding-top: 30px;
    }
  }

  &__twit {
    margin-right: 50px;

    &:hover {
      background: #2980b9;
      transform: translateY(-3px);
    }
  }

  &__facebook {
    margin-right: 10px;

    &:hover {
      background: #2980b9;
      transform: translateY(-3px);
    }
  }

  &__instag {
    margin-right: 10px;

    &:hover {
      background: #2980b9;
      transform: translateY(-3px);
    }
  }
}
