//TODO header all color

//* header text
$allText: #1b1a1a;
$background: #ffffff;
$hoverHeaderText: #007bff;

//? header button
$backgroundColor: #1b1a1a;
$color: #fff;
$hoverButtonHeader: #444;

//TODO main_page_section

//* main_color
$page_section_background: #ece7e4;
$main__title_color: #645c55;
$main__subtitle_color: #1b1a1a;
$main__description_color: #403e3b;
$main__read-more_color: #1b1a1a;
